{
  "semi": true,
  "singleQuote": true,
  "importOrder": [
    "#imports",
    "^autobind-decorator",
    "^vue",
    "^vue-i18n",
    "^@kaokei/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^~/types$",
    "^[~/]",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "classProperties",
    "decorators-legacy"
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
